@model _24DH111577_LTW_BE_16_10.Models.ViewModel.ProductDetailVM

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}

<head>
    <style>
        .pro {
            padding: 50px 10px 50px 10px;
            background-color: ghostwhite;
        }

        .pro-section {
            background-color: white;
            border: 1px groove #ffffff;
            border-radius: 10px;
            /*      padding: 5px;*/
            margin: 10px;
        }

            .pro-section img {
                max-height: 250px;
                max-width: 200px;
                padding: 5px;
            }

        .pro-price {
            font-weight: bolder;
            font-size: larger;
            color: red;
        }

        .pro-sale {
            font-weight: lighter;
        }
    </style>
    <script>
    function updateEstimate() {
        var quantity = parseInt(document.getElementById('quantityInput').value) || 1;
        var unitPrice = @Model.product.ProductPrice;
        var estimate = quantity * unitPrice;
        document.getElementById('estimateDisplay').innerText = estimate.toLocaleString('vi-VN');
    }
    </script>
</head>

<div class="container-fluid pro">
    <div class="div-horizontal">
        @* khối bên trái *@
        <div class="col-md-3 pro-section">
            @* Ảnh sản phẩm *@
            <img src="@Model.product.ProductImage" />
        </div>
        @* Khối ở giữa *@
        <div class="col-md-5 pro-section">
            @* Phần thông tin sản phẩm *@
            <div>
                <h4><strong>@Html.DisplayFor(model => model.product.ProductName)</strong></h4>
                <p class="pro-sale">Đã bán:&nbsp; @Model.product.OrderDetails.Count</p>
                <p class="pro-price">@Model.product.ProductPrice.ToString("C")</p>
                <p>Thuộc danh mục:&nbsp;@Model.product.Category.CategoryName</p>
                <hr />
                <h5><strong>Mô tả</strong></h5>
                <p>@Model.product.ProductDescription </p>
            </div>
        </div>
        @* khối Related Product *@
        <div>@Html.Partial("PVRelatedProduct", Model)</div>
        @* khối bên phải *@
        <!--<div class="col-md-3 pro-section">
        <div class="form-group">-->
        @* Phần tạm tính *@
        <!--@using (Html.BeginForm("ProductDetails", "Home", FormMethod.Get))
            {
                <h4><strong>Số lượng</strong></h4>
                <p>
                    @Html.TextBoxFor(model => model.quantity, new
                 { @class = "form-control", @type = "number", @min = 1 })
                </p>
                <h4><strong>Tạm tính</strong></h4>
                <p>@Model.estimatedValue.ToString("N0")</p>
                @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "Cart",
                    new { id = Model.product.ProductID, quantity = Model.quantity },
                    new { @class = "btn btn-info" })
            }
        </div>
    </div>-->
        @*New*@

        <div class="col-md-3 pro-section">
            <div class="form-group">
                @* Phần tạm tính *@
                @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                {
                    @Html.Hidden("id", Model.product.ProductID)

                    <h4><strong>Số lượng</strong></h4>
                    <p>
                        <input type="number"
                               id="quantityInput"
                               name="quantity"
                               value="@Model.quantity"
                               min="1"
                               class="form-control"
                               onchange="updateEstimate()"
                               oninput="updateEstimate()" />
                    </p>

                    <h4><strong>Tạm tính</strong></h4>
                    <p><span id="estimateDisplay">@Model.estimatedValue.ToString("N0")</span> VND</p>

                    <button type="submit" class="btn btn-info">Thêm vào giỏ hàng</button>
                }
            </div>
        </div>
        <hr />
        @* Khối TopProduct *@
        <div>@Html.Partial("PVTopProduct", Model)</div>
    </div>
</div>


