@model _24DH111577_LTW_BE_16_10.Models.ViewModel.HomeProductVM
@using PagedList.Mvc
<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />

@if (Model.NewProducts != null && Model.NewProducts.Any())
{
    <section class="listProd">
        <h2>Sản phẩm mới</h2>
        <div class="list-container">
            @foreach (var product in Model.NewProducts)
            {
                <div class="fproduct-item">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                        <img src="@product.ProductImage" alt="@product.ProductName" />
                    </a>
                    <p class="prodPrice">@String.Format("{0:N0}", product.ProductPrice) đ</p>
                    <p class="prodName">@product.ProductName</p>
                    <p class="prodCate">@product.Category.CategoryName</p>
                    <p class="prodSale">Đã bán: @product.OrderDetails.Count</p>
                </div>
            }
        </div>
    </section>

    <div class="pagination-container">
        @Html.PagedListPager(Model.NewProducts, page => Url.Action("Index", new { page, SearchTerm = Model.SearchTerm }))
    </div>
}
else
{
    <p style="text-align:center; padding:40px;">Không tìm thấy sản phẩm mới</p>
}
